@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@font-face {
  font-family: 'iconfont';  /* Project id 2714973 */
  src: url('//at.alicdn.com/t/font_2714973_5186tb2er18.woff2?t=1627838748199') format('woff2'),
       url('//at.alicdn.com/t/font_2714973_5186tb2er18.woff?t=1627838748199') format('woff'),
       url('//at.alicdn.com/t/font_2714973_5186tb2er18.ttf?t=1627838748199') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppings", sans-serif;
}
.clearfix::after{
  height: 80px;
  content: "";
  clear: both;
  display: block;
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

